nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  p{
    border: 2px solid black;
    padding: 10px;  
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
    margin: 50px;
    margin-top: 8%;
    
  }
.car_img{
  display: block;
  margin: 0 auto;
    
}


  
/* For screens between 350px and 575px */
@media (min-width: 350px) and (max-width: 575px) {
  p{
    font-size:medium;
  }
 
}
  
/* For screens between 576px and 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  p{
    font-size:medium;
  }
}

/* For screens between 768px and 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  p{
    font-size:large;
  }
}

/* For screens larger than 992px */
@media (min-width: 992px) {
  p{
    font-size:x-large;
  }
}